.no-imgSrc-message {
    text-align: center;
}

.canvas-container {
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.canvas-styles {
    position: absolute;
}

.img-styles {
    border-radius: 12px;
}